@charset "ISO-8859-1";


.bg-grandiant{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(#fbfb42,#fdfda3);
}
h1{ /* Title style */
	text-align:right; 
	padding:20px;
	font-size:50px;	
	 margin-right: 200px;
}

.text{ /* Title style */
	text-align:right; 
	padding:2
	0px;
	font-size:30px;
	 margin-right: 200px;	
}
/*----------------------------------
        Submit button
------------------------------------*/
input[type="submit"]{
  width: 10%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align:center;
  display:block;
  margin: auto;
  margin-right: 210px;
}
.text-submit{
	display:block;
	margin-bottom:5px;
	font-weight:bold;
	font-size:20px;
	color:black;
	text-align:center;
}

 .text-submit:hover {
    background-color: rgb(255, 255, 255);
    border: 2.5px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  
 
        /* Style the image within the right column */
.img {
           /* max-width: 100%;  Make the image responsive */
           padding-bottom: 1px;
           padding-top: 1px;
           float: left; /* Float the right column to the left */
            width:50%;
	        height:auto;
            margin-top: 10px;
        }