@charset "ISO-8859-1";

/*----------------------------------
        Signup box
------------------------------------*/
.bg-grandiant{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(#fbfb42,#fdfda3);
}
.container {
  width: 620px;
  height:650px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin-top:100px;
  background:transparent;
  backdrop-filter:blur(5px);
  justify-content:center;
  align-items: center;
}
.text-medium{
	display:block;
	margin-bottom:5px;
	font-weight:bold;
	font-size:20px;
	color:black;
	text-align:left;
}
.left-box{
	position:absolute;
	top:0;
	left:400px;
	box-sizing:border-box;
	padding:10px;
	width:400px;
	height:400px;
	background:transparent;
    backdrop-filter:blur(20px);
}

h1 {
  color: #333;
  font-size:40px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  height:25px;
  margin-bottom: 10px;
}
/*----------------------------------
        Submit button
------------------------------------*/
input[type="submit"]{
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.text-submit{
	display:block;
	margin-bottom:5px;
	font-weight:bold;
	font-size:20px;
	color:black;
	text-align:center;
}

.right-box {
            float: right; /* Float the right column to the left */
            width: 30%; /* Set the width of the right column */
            padding: 20px; /* Add some padding for spacing */
        }

        /* Style the image within the right column */
.right-box img {
           /* max-width: 100%;  Make the image responsive */
            width:600px;
	        height:600px;
            display: block; /* Remove any extra spacing around the image */
        }